
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 40px;
  background: #020617;
}

.logo {
  color: #38bdf8;
}

.navbar a {
  color: #e5e7eb;
  text-decoration: none;
  margin-right: 200px;
}

.navbar a:hover {
  color: #38bdf8;
}
